

= content_for :principal do

  - theme_list = Dir.foreach(Dir.pwd + ("/source/views/themes") ).grep(/.haml/)

  - theme_list.each do |o|
    %script{ type: "template/text", id: "#{o.gsub(".haml", "")}", class: "pullentity-themes"}
      %div{ id: "#{o.gsub(".haml", "")}", style: "display:none"}
        = partial "views/themes/#{o.gsub(".haml", "")}"

  %div{ id: "list", style: "display:none"}
    = partial "views/list"

