

= content_for :principal do

  - theme_list = Dir.foreach(Dir.pwd + ("/source/views/themes") ).grep(/.haml/)

  - theme_list.each do |o|
    - theme_name = o.gsub(".haml", "")
    %div{ id: "#{theme_name}", style: "display:none"}
      = partial "views/themes/#{theme_name}"

  %div{ id: "list", style: "display:none"}
    = partial "views/list"


